:root{
    --accent: #ff4f1a;
    --shadow-color: 200deg 30% 52%;
}

body{
    color: var(--accent);
}

#contentWrapper{
    margin-top: 40px;
}
#content{
    margin-left: auto;
    margin-right: auto;
}
#animation{
    position: relative;
    top: 10px;
}
#textBox{
    background-color: var(--accent);
    color: var(--mainbody);
    border-radius: 5px;
    padding-bottom: 3%;
    margin-bottom: 3px;
}
.fancyText{
    font-family: "Garamondt-i";
    line-height: 1;
    font-size: 2em;
    padding-top: 25px;
}
p{
    margin: 0;
}
#links a{
    color: var(--mainbody);
}
#links{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0%;
    margin: 0;
}
#links img{
    vertical-align: middle;
    image-rendering: pixelated;
}
@media only screen and (max-width:1000px) {
    #content{width: 80%;}
    #links{
        flex-direction: column;
        padding-left: 2%;
    }
}
@media only screen and (min-width:1000px) {
    #content{width: 500px;}
}

.window{
    scale: 1.2;
    border: 6px solid blue;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: skyblue;
    height: 500px;
    width: 500px;
}

.chat{
    height: 480px;
    width: 100%;
}

#otp{
    scale: 1;
    position: absolute;
    left: 40%;
    top: 2.5%;
    z-index: -1;
}

#back{
    scale: 0.5;
    left: -5%;
}


